.fc {
	display: flex;
	align-items: center;
}

.fcc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fcol {
	display: flex;
	flex-direction: column;
}

.between {
	justify-content: space-between;
}

.g32 { gap: 32px }

.p32 { padding: 32px }

.btn {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
	word-wrap: break-word;
	line-height: 1;
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	background: var(--bg);
	border: 2px solid var(--text);
	box-shadow: 0px 6px 0px -2px var(--shadow), 0px 6px 0px 0px var(--text);
	transform: translateY(-3px);
	transition: .2s ease-out;
}

.btn:hover {
	box-shadow: 0px 0px 0px -2px var(--shadow), 0px 0px 0px 0px var(--text);
	transform: translateY(3px);
}

.c0 {color: var(--red)}
.c1 {color: var(--ora)}
.c2 {color: var(--yel)}
.c3 {color: var(--gre)}
.c4 {color: var(--blu)}
.c5 {color: var(--vio)}

@media (max-width: 1000px) {
	.g32 { gap: 24px }
	.p32 { padding: 24px }
}